In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
from bs4 import BeautifulSoup  

%matplotlib inline

In [2]:
urlbase = 'https://www.tsa.gov/coronavirus/passenger-throughput?page='
pages = 2

In [5]:
def web_scrape(url, pages):
    """Returns a DataFrame of all pages of TSA website.
        url is the URL of the website.
        pages is the number of pages to scrape."""
    final_list = []
    df = pd.DataFrame()
    for p in range(0, pages):
        response = requests.get(url + str(p)) # Goes to URL and adds p to end of it to select page.
        soup = BeautifulSoup(response.content, 'lxml')
        tables = soup.find_all('table', attrs = {'class': 'views-table views-view-table cols-3'})
        result_list = pd.read_html(str(tables[0]))
        final_list = result_list[0]
        df = df.append(final_list, ignore_index = True)
    return df

In [6]:
tsa = web_scrape(urlbase, pages)

In [7]:
tsa

,Date,Total Traveler Throughput,Total Traveler Throughput (1 Year Ago - Same Weekday)
0,12/27/2020,1284599,2575985
1,12/26/2020,1128773,2470786
2,12/25/2020,616469,2582580
3,12/24/2020,846520,2552194
4,12/23/2020,1191123,1937235
...,...,...,...
297,3/5/2020,2130015,2402692
298,3/4/2020,1877401,2143619
299,3/3/2020,1736393,1979558
300,3/2/2020,2089641,2257920
301,3/1/2020,2280522,2301439

In [8]:
tsa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302 entries, 0 to 301
Data columns (total 3 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Date                                                   302 non-null    object
 1   Total Traveler Throughput                              302 non-null    int64
 2   Total Traveler Throughput (1 Year Ago - Same Weekday)  302 non-null    int64
dtypes: int64(2), object(1)
memory usage: 7.2+ KB

In [9]:
tsa['Date'] = pd.to_datetime(tsa['Date'], format = '%m/%d/%Y')

In [10]:
tsa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302 entries, 0 to 301
Data columns (total 3 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Date                                                   302 non-null    datetime64[ns]
 1   Total Traveler Throughput                              302 non-null    int64
 2   Total Traveler Throughput (1 Year Ago - Same Weekday)  302 non-null    int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 7.2 KB

In [11]:
tsa.head(2)

,Date,Total Traveler Throughput,Total Traveler Throughput (1 Year Ago - Same Weekday)
0,2020-12-27,1284599,2575985
1,2020-12-26,1128773,2470786

In [23]:
tsa.to_csv('../data/tsa.csv')

In [28]:
urlbase = 'https://www.transtats.bts.gov/TRAFFIC/'

In [29]:
def web_scrape(url):
    """Returns a DataFrame of all pages of BTS website.
        url is the URL of the website."""
    final_list = []
    df = pd.DataFrame()
    response = requests.get(url) # Goes to URL.
    soup = BeautifulSoup(response.content, 'lxml')
    tables = soup.find_all('table', attrs = {'name': 'SystemTable2'})
    result_list = pd.read_html(str(tables[0]))
    final_list = result_list[0]
    df = df.append(final_list, ignore_index = True)
    return df

In [30]:
year_stats = web_scrape(urlbase)

In [31]:
year_stats

                                  System October 2019 - September 2020  \
                                  System                     Scheduled
0   Revenue Passenger Enplanements (000)                  5.112050e+05
1          Revenue Passenger Miles (000)                  5.503725e+08
2             Available Seat Miles (000)                  7.915437e+08
3              Passenger Load Factor (%)                  6.953000e+01
4        Revenue Freight Ton Miles (000)                  4.497104e+06
5          Total Revenue Ton Miles (000)                  6.018569e+07
6              Available Ton Miles (000)                  1.086771e+08
7              Ton Miles Load Factor (%)                  5.538000e+01
8           Revenue Departures Performed                  6.520930e+06
9     Revenue Aircraft Miles Flown (000)                  5.170186e+06
10     Revenue Aircraft Hours (Airborne)                  1.204775e+07

                               October 2018 - September 2019                \
   Non-Scheduled         Total                     Scheduled Non-Scheduled
0        3132.00  5.143370e+05                  9.168790e+05       3606.00
1     4494582.00  5.548671e+08                  1.044065e+09    5095342.00
2    11429163.00  8.029729e+08                  1.235277e+09   11630630.00
3          39.32  6.910000e+01                  8.452000e+01         43.80
4      312378.00  4.809482e+06                  7.522249e+06     275703.00
5      779852.00  6.096554e+07                  1.128369e+08     785252.00
6     3196511.00  1.118736e+08                  1.725711e+08    2792852.00
7          24.39  5.449000e+01                  6.538000e+01         28.11
8      115323.00  6.636253e+06                  9.410328e+06     150807.00
9       71320.00  5.241506e+06                  7.849730e+06      71511.00
10     190463.00  1.223821e+07                  1.811671e+07     225643.00


           Total
0   9.204850e+05
1   1.049160e+09
2   1.246908e+09
3   8.414000e+01
4   7.797952e+06
5   1.136221e+08
6   1.753640e+08
7   6.479000e+01
8   9.561135e+06
9   7.921241e+06
10  1.834236e+07