In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
from bs4 import BeautifulSoup  

%matplotlib inline

In [9]:
urlbase = 'https://www.tsa.gov/coronavirus/passenger-throughput?page='
pages = 2

In [14]:
def web_scrape(url, pages):
    """Returns a DataFrame of all pages of TSA website.
        url is the URL of the website.
        pages is the number of pages to scrape."""
    final_list = []
    df = pd.DataFrame()
    for p in range(0, pages): # pages + 1 because range stops at the last number
        response = requests.get(url + str(p)) # Goes to URL and adds p to end of it to select page.
        soup = BeautifulSoup(response.content, 'lxml')
        tables = soup.find_all('table', attrs = {'class': 'views-table views-view-table cols-3'})
        result_list = pd.read_html(str(tables[0]))
        final_list = result_list[0]
        df = df.append(final_list, ignore_index = True)
    return df

In [15]:
tsa = web_scrape(urlbase, pages)

In [16]:
tsa

,Date,Total Traveler Throughput,Total Traveler Throughput (1 Year Ago - Same Weekday)
0,12/9/2020,564372,2020488
1,12/8/2020,501513,1897051
2,12/7/2020,703546,2226290
3,12/6/2020,837137,2292079
4,12/5/2020,629430,1755801
...,...,...,...
279,3/5/2020,2130015,2402692
280,3/4/2020,1877401,2143619
281,3/3/2020,1736393,1979558
282,3/2/2020,2089641,2257920
283,3/1/2020,2280522,2301439

In [17]:
tsa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 3 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Date                                                   284 non-null    object
 1   Total Traveler Throughput                              284 non-null    int64
 2   Total Traveler Throughput (1 Year Ago - Same Weekday)  284 non-null    int64
dtypes: int64(2), object(1)
memory usage: 6.8+ KB

In [20]:
tsa['Date'] = pd.to_datetime(tsa['Date'], format = '%m/%d/%Y')

In [21]:
tsa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 3 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Date                                                   284 non-null    datetime64[ns]
 1   Total Traveler Throughput                              284 non-null    int64
 2   Total Traveler Throughput (1 Year Ago - Same Weekday)  284 non-null    int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 6.8 KB

In [22]:
tsa.head(2)

,Date,Total Traveler Throughput,Total Traveler Throughput (1 Year Ago - Same Weekday)
0,2020-12-09,564372,2020488
1,2020-12-08,501513,1897051

In [23]:
tsa.to_csv('../data/tsa.csv')